{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<body>
    <article class="post">
        {% if article.created %}
            <time class="date">
                {{ article.created }}
            </time>
        {% endif %}
        <h2>{{ article.title }}</h2>
        <p>{{ article.content|linebreaksbr }}</p>
    </article>
    <comment class="post">
        {% for comment in comments %}
             <p>{{ comment.message }}</p>
        {% endfor %}
    </comment>
</body>
</html>
{% endblock %}